#
# L.Deri <deri@ntop.org> February 9th, 2000
#
# Sample ntop rules
#

# Mark all the sync packets (any/any means any source port to any destination 
# port). If within 60 seconds they have not been cleared an event is generated
tcp syn-without-ack any/any any/any flags S action mark expires 6

# The event below clears the "syn" event (see above) all (i.e. if several
# "syn" events are waiting to be cleared, it then clears all of them). The
# revert keywork means that the "ack" event clears the "syn" event if the
# shost/sport and dhost/dport are reverted (for instance if host A/sport X  
# sends the "syn" event to host B/dport Y, then the "ack" event must be sent 
# from host host B/dport Y to host A/sport X).
tcp ack revert any/any any/any flags A clears syn-without-ack all

# If an host receives an ICMP Route Redirect from a host that's not a
# gateway (or one of the gateways used so far) then an alarm is generated
#
# Valid ICMP types are:
#
# ICMP_ECHOREPLY
# ICMP_ECHO
# ICMP_UNREACH
# ICMP_REDIRECT
# ICMP_ROUTERADVERT
# ICMP_TIMXCEED
# ICMP_PARAMPROB
# ICMP_MASKREPLY
# ICMP_MASKREQ
# ICMP_INFO_REQUEST
# ICMP_INFO_REPLY
# ICMP_TIMESTAMP
# ICMP_TIMESTAMPREPLY
# ICMP_SOURCE_QUENCH
icmp route-advertisement ICMP_ROUTERADVERT !gateway/any action alarm


# Notify when a host received udp traffic on a port on which ntop has
# observed no traffic before
udp new-port-open any/any any/!usedport action mark

# notify about dns responses tfor symbolic host names that do not exist
#dns unknown-sym-name no-sym-name-rsp action mark

# issue an alarm for fragments whose size is less that 256 bytes
udp udp-short-fragment any/any any/any type fragment pktsize < 256 action alarm
tcp tcp-short-fragment any/any any/any type fragment pktsize < 256 action alarm

# send an alarm if an host receives more than 30 ICMP echo packets within
# 10 seconds. If the rule is fired, then it will be re-enabled not before 90
# seconds (this avoids ntop to send too many alarms)
icmp ping-flood ICMP_ECHO any/any pktcount > 30 unit 10 action alarm rearm 90

#icmp ping-request ICMP_ECHO any/any action alarm

# Send an alarm when a user connects to an FTP server as root
tcp root-ftp any/ftp any/any contains "230 User root logged in" action alarm

# If a host receives more than 10 packets with the syn flag set
# within 20 seconds, an alarm is generated. Note that "!any" means
# any port of the target host no matter whether the target port
# matches the port of the previous packet that also had the syn
# flag set
tcp stealth-scan  any/!any any/!any flags S pktcount > 30 unit 5 action alarm rearm 10
tcp session-reset any/!any any/!any flags R pktcount > 30 unit 20 action alarm rearm 10

tcp tcp-nmap-scan any/!any any/!any flags SF action alarm



